<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :blog_body, class: 'form-control', rows: [6,[@blog.body ? @blog.body.lines.count + 2: 0, 20].min].max %>
  </div>

  <div class="field form-group">
    <%= form.check_box(:publish, 'data-toggle': :toggle, 'data-on': :publish, 'data-off': :unpublish, 'data-size': :large) %>
  </div>

  <div class="actions form-group">
    <%= save_submit_button_html "Save Blog" %>
    <%# form.submit %>
  </div>
<% end %>
