<% if @show_blogger_controls %>
  <div class="btn-group">
    <%= edit_blog_button_html(@blog, label: "Edit") %>
    <%= delete_blog_button_html(@blog, label: "Delete") %>
  </div>
<% end %>



<h1><%= @blog.title %></h1>

<p>By <%= link_to(@blog.user.name, user_path(@blog.user)) %>
  <br><%= @blog.sort_at.strftime('%B %-d, %Y') %>
  <% unless @blog.publish? %>
    <br><span class='warn-private-blog'>This blog is not published</span>
  <% end %>
</p>

<%= @blog.body_html %>
