<div class="container">

  <div class="row">
    <h1 class="col-sm-6 col-sm-offset-2">Sign Up</h1> 
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="row field">
    <div class="col-sm-2 contra-label">Email:</div> 
    <%= f.email_field :email, autofocus: true, class: "col-sm-6" %>
    <div class="col-sm-4 understated">e.g. 'jane@gmail.com'</div>
  </div>

  <div class="row field">
    <div class="col-sm-2 contra-label">Name:</div> 
    <%= f.text_field :name, class: "col-sm-6" %>
    <div class="col-sm-4 understated">e.g. 'Cary Ravitz'</div>
  </div>

  <div class="row field">
    <div class="col-sm-2 contra-label">Password:</div> 
    <%= f.password_field :password, autocomplete: "off", class: "col-sm-6" %>
    <% if @minimum_password_length %>
    <div class="col-sm-4 understated"><%= @minimum_password_length %> characters minimum</div>
    <% end %>
  </div>

  <div class="row field">
    <div class="col-sm-2 contra-label">Again:</div> 
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "col-sm-6" %>
    <div class="col-sm-4 understated">always two, there are</div>
  </div>

  <div class="row actions">
    <div class="col-sm-2"></div>
    <%= save_submit_button_html "Sign Up", {class: "col-sm-6"} %>
  </div>
<% end %>

  <div class="row" style="margin-top: 2em">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
      <%# effective with user 52, inclusive %>
      <h2>User Agreement</h2>
      <p>By creating an account on this site, you assume the risk that your uploaded data could be lost, modified, or stolen. Having said that, the purpose of ContraDB is to build a free, shared, high-quality, machine-readable database of contra dances, so that humans can dance to them and have fun. We might modify your data according to that vision, for example, by unpublishing a broken and abandoned dance that’s turning up in everyone’s search results. </p>

      <p>Your email address will not be intentionally given to third parties, nor will we spam you with advertisements. It’s primarily intended to send password reset links. We also may send intermittent site announcements when blockbuster new features are released.</p>
    </div>
  </div>

</div>
