<% debug_js = false %>
<%= form_for(@program, html: {class: "form-inline"}) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% copy_program = 
     params[:copy_program_id] ? Program.find(params[:copy_program_id]) : nil %>

  <div class="container">
    <h1 class="field row">
      <%= f.text_field(
            :title, 
            {value: if copy_program
                      then "#{copy_program.title} copy"
                    elsif @program.title && !@program.title.empty?
                      then @program.title 
                      else ''
                    end,
             placeholder: "Program Title",
             class: "col-xs-12"
            }) %>

    </h1>


    <div class="contra-activities-edit" ng-app="activities_editor">
      <div ng-controller="ActivitiesController as activitiesCtrl" id="activities-div">
        <span ng-init="activitiesCtrl.activities=<%= ActivitiesHelper.activities_to_json_for_editing(@program.activities_sorted) %>">
        </span>
        <span ng-init="activitiesCtrl.dances=massageDanceAutocompleteHashes(<%= dance_autocomplete_hash_json %>)">
        </span>

        <div class="container"> <%# This container contains just one thing - an evil table! Muah ha ha! %>
          <div class="row">
            <table class="activity-editor-table col-xs-12">
              <tr>
                <td>
                  <div class="btn-group-vertical activity-editor-button-single-stack" role="group">
                    <button name="button" type="button"
                            ng-click='addActivity(activitiesCtrl.activities)'
                            class="btn btn-default activity-editor-button">
                      <span class='glyphicon glyphicon-plus' aria-hidden='true'></span></button>
                  </div>
                </td>
                <td>
                  <div class="btn-group-vertical activity-editor-button-single-stack" role="group">
                    <button name="button" type="button" ng-click="selectAllActivities(activitiesCtrl.activities)" class="btn btn-default" aria-label="select all" title="select all"><span class='glyphicon glyphicon-check' aria-hidden='true'></span></button>
                  </div>
                </td>
                <td rowspan="2">
                  <div class="btn-group-vertical activity-editor-button-double-stack" role="group">
                    <button name="button" type="button" 
                            ng-click="moveSelectedActivitiesUpNIndicies(activitiesCtrl.activities, 1.5)"
                            ng-disabled="0 == checkedActivityCount(activitiesCtrl.activities)"
                            class="btn btn-default" aria-label="up" title="move up">
                      <span class='glyphicon glyphicon-triangle-top' aria-hidden='true'></span></button>
                    <button name="button" type="button"
                            ng-click="moveSelectedActivitiesDownNIndicies(activitiesCtrl.activities, 1.5)"
                            ng-disabled="0 == checkedActivityCount(activitiesCtrl.activities)"
                            class="btn btn-default" aria-label="down" title="move down">
                      <span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true'></span></button>
                  </div>
                </td>
                <td rowspan="2">
                  <div class="btn-group-vertical activity-editor-button-double-stack" role="group">
                    <button name="button" type="button" ng-click="moveSelectedActivitiesToTop(activitiesCtrl.activities)" ng-disabled="0 == checkedActivityCount(activitiesCtrl.activities)" class="btn btn-default" aria-label="top" title="move to top"><span class='glyphicon glyphicon-fast-backward contra-rotate-90' aria-hidden='true'></span></button>
                    <button name="button" type="button" ng-click="moveSelectedActivitiesToBottom(activitiesCtrl.activities)" ng-disabled="0 == checkedActivityCount(activitiesCtrl.activities)" class="btn btn-default" aria-label="bottom" title="move to bottom"><span class='glyphicon glyphicon-fast-forward contra-rotate-90' aria-hidden='true'></span></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="btn-group-vertical activity-editor-button-single-stack" role="group">
                    <button name="button" type="button" 
                            ng-click='deleteSelectetdActivitiesUI(activitiesCtrl.activities)'
                            ng-disabled="0 == checkedActivityCount(activitiesCtrl.activities)"
                            class="btn btn-default">
                      <span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button>
                  </div>
                </td>
                <td>
                  <div class="btn-group-vertical activity-editor-button-single-stack" role="group">
                    <button name="button" type="button" ng-click="deselectAllActivities(activitiesCtrl.activities)" class="btn btn-default" aria-label="select none" title="select none"><span class='glyphicon glyphicon-unchecked' aria-hidden='true'></span></button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="container">
          <div ng-repeat="act in activitiesCtrl.activities"
               class="row activity-row contra-drop-conceivable"
               ng-class="{'activity-checked': act.checked}"
               id="activity-row-{{$index}}"
               contra-drag-and-drop-activities="true">
            <div class="col-xs-3"> <%# See Note N below %>
              <label>
              <input type="checkbox" name="activivty-{{$index}}-selected"
                     id="activivty-{{$index}}-selected" ng-model="act.checked"
                     value="true">
              &nbsp;{{$index+1}}.
              </label>
            </div>
            <div angucomplete-alt 
                 name="activivty-{{$index}}-dance"
                 id="activivty-{{$index}}-dance"
                 placeholder="Dance"
                 maxlength="100"
                 pause="100"
                 selected-object="act.dance"
                 local-data="activitiesCtrl.dances"
                 search-fields="title,choreographer"
                 title-field="displayText"
                 minlength="1"
                 input-class="activity-dance col-xs-6" 
                 <%# Note N: if this element's column changes, 
                 we also have to adjust where
                 the pop-up menu appears by adjusting 'left' in
                 .angucomplete-dropdown in application.scss %>
                 match-class="autocomplete-match-text"
                 initial-value="findDanceHashById(act.dance_id,activitiesCtrl.dances)"
                 ></div>
            <input type="text" ng-model="act.text" name="program[activities_attributes][{{$index}}][text]" id="activivty-{{$index}}-text" class="col-xs-3" placeholder="Note"/>
            <input type="hidden" ng-value="act.dance.originalObject.id" name="program[activities_attributes][{{$index}}][dance_id]" id="activivty-{{$index}}-dance_id"/>
          </div>
        </div>



        <% if debug_js then %>
          <p>activitiesCtrl.dances = {{activitiesCtrl.dances}} </p>
          <p>getActivities = {{activitiesCtrl.activities}} </p>
        <% end %>

      </div>
      
    </div> <!-- activities editor -->

    <div class="actions row">
      <%= save_submit_button_html "Save Program", class: "col-xs-12" %>
    </div>

    <div class="actions row"> <h2  class="col-xs-12">Create a <em>program</em> of dances</div>
    <div class="actions row">
      <p class="col-xs-6">
        You may intersperse your dances with note-only rows,
        which will display things that aren't in the database, such
        as "Waltz" and "Break". Or, if you give both a note and a
        dance, the dance becomes the headline and the note will be
        the byline.
      </p>

      <div class="col-xs-6">
        <p>You can manipulate rows with checkboxes and the buttons at the top. </p>
        <p>On some devices you can drag and drop rows to reorder
        them. </p>
      </div>
    </div>

  </div>
<% end %>
