<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% copy_program = 
     params[:copy_program_id] ? Program.find(params[:copy_program_id]) : nil %>


  <h1 class="field">
    <%= f.text_field(
          :title, 
          {value: if copy_program
                    then "#{copy_program.title} copy"
                  elsif @program.title && !@program.title.empty?
                    then @program.title 
                    else 'New Program'
                  end
          }) %>

  </h1>


  <div class="container contra-activities-edit" ng-app="activities_editor">
    <div ng-controller="ActivitiesController as activitiesCtrl" id="activities-div">
      <span ng-init="activitiesCtrl.activities=<%= ActivitiesHelper.activities_to_json_for_editing(@program.activities_sorted) %>">
      </span>
      <span ng-init="activitiesCtrl.dances=<%= JSON.generate(Dance.all.map &:hash_for_autocompleting) %>">
      </span>

      <div ng-repeat="act in activitiesCtrl.activities">
        <input type="checkbox"      name="activivty-{{$index}}-selected" id="activivty-{{$index}}-selected" value="selected">
        {{$index+1}}.
        <input type="text" ng-model="act.text" name="program[activities_attributes][{{$index}}][text]"     id="activivty-{{$index}}-text"/>
        <input type="text" ng-model="act.selected.originalObject.id" name="program[activities_attributes][{{$index}}][dance_id]"     id="activivty-{{$index}}-dance_id"/>
        <div angucomplete-alt 
             name="activivty-{{$index}}-dance"
             id="activivty-{{$index}}-dance"
             placeholder="Choose dance"
             maxlength="100"
             pause="100"
             selected-object="act.selected"
             local-data="activitiesCtrl.dances"
             search-fields="title,choreographer"
             title-field="title,choreographer"
             minlength="1"
             input-class="form-control form-control-small"
             match-class="autocomplete-match-text"
             initial-value="findDanceHashById(act.dance_id,activitiesCtrl.dances)"
             ></div>
      </div>

      <div class="btn-group btn-group-lg" role="group">
        <div class="btn-group">
          <button name="button" type="button" ng-click='addActivity()' class="btn btn-default">Add Activity</button>
        </div>
        <div class="btn-group">
          <button name="button" type="button" ng-click='deleteActivity()' ng-show="activitiesCtrl.activities.length > 0" class="btn btn-default">Remove Activity</button>
        </div>
      </div>


      <p> activitiesCtrl.dances = {{activitiesCtrl.dances}} </p>
      <p> activitiesCtrl.activities = {{activitiesCtrl.activities}} </p>
    </div> <!-- FiguresController -->
  </div> <!-- activities editor -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
