<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% copy_program = 
     params[:copy_program_id] ? Program.find(params[:copy_program_id]) : nil %>


  <h1 class="field">
    <%= f.text_field(
          :title, 
          {value: if copy_program
                    then "#{copy_program.title} copy"
                  elsif @program.title && !@program.title.empty?
                    then @program.title 
                    else 'New Program'
                  end
          }) %>

  </h1>

  <div class="container contra-activities-edit" ng-app="activities_editor">
    <div ng-controller="ActivitiesController as activities">
      <span ng-init="activities.arr=<%= ActivitiesHelper.activities_to_json_for_editing(@program.activities_sorted) %>">
      </span>


      <div class="btn-group btn-group-lg" role="group">
        <div class="btn-group">
          <button name="button" type="button" ng-click='addActivity()' class="btn btn-default">Add Activity</button>
        </div>
        <div class="btn-group">
          <button name="button" type="button" ng-click='deleteActivity()' ng-show="activities.arr.length > 0" class="btn btn-default">Remove Activity</button>
        </div>
      </div>


      _{{activities.arr}}_
    </div> <!-- FiguresController -->
  </div> <!-- activities editor -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
