

<div class="btn-group">
<%= copy_program_button_html(@program, label: "Copy") %>
<%= if (signed_in? && (current_user.id == @program.user_id)) then
    edit_program_button_html(@program, label: "Edit") +
    delete_program_button_html(@program, label: "Delete")
    end %>
</div>

<h1><%= @program.title %></h1>
<p>user: <strong><%= link_to @program.user.name, @program.user %></strong></p>


<%= render partial: "activities_table", object: @program.activities_sorted %>

<% @program.activities_sorted.each do |activity| %>
  <h2>
    <%= if activity.dance 
        then activity.dance.title
        elsif !activity.text.empty?
        then activity.text
        else "<span class='empaty-activity'>empty activity</span>".html_safe
        end %>
  </h2>
  <%= if activity.dance && !activity.text.empty?
      then content_tag(:p, activity.text, class: "activity-text-overshadowed-by-dance")
      end %>
  <p>Regular text</p>
<% end %>


