<p><span>User:</span> <%= link_to @program.user.name, @program.user %></p>

<h1><%= @program.title %></h1>

<div class="btn-group">
<%= copy_program_button_html(@program, label: "Copy") %>
<%= if (signed_in? && (current_user.id == @program.user_id)) then
    edit_program_button_html(@program, label: "Edit") +
    delete_program_button_html(@program, label: "Delete")
    end %>
</div>

<%= render partial: "activities_table", object: @program.activities_sorted %>


