<%= moves_already_introduced = {} %>

<div class="btn-group">
<%= copy_program_button_html(@program, label: "Copy") %>
<%= if (signed_in? && (current_user.id == @program.user_id)) then
    edit_program_button_html(@program, label: "Edit") +
    delete_program_button_html(@program, label: "Delete")
    end %>
</div>

<h1><%= @program.title %></h1>
<p>user: <strong><%= link_to @program.user.name, @program.user %></strong></p>


<h2>Table of Contents</h2>
<ol>
  <% @program.activities_sorted.each_with_index do |activity,index| %>
  <li><a href=<%= "\"\##{activity_anchor_id(index)}\"".html_safe %>><%= activity.dance ? (content_tag(:span,activity.dance.title,class: "activity-toc-dance-title") + " by " + activity.dance.choreographer.name) : (activity.text.empty? ? "~~~" : activity.text) %></a></li>
  <% end %>
</ol>

<% @program.activities_sorted.each_with_index do |activity,index| %>
  <%= "<div class='activity-breakdown' id='#{activity_anchor_id(index)}'>".html_safe %>
    <%= if activity.dance 
        then content_tag(:h2, (link_to activity.dance.title, activity.dance), class: "activity-breakdown-dance-title")
        elsif !activity.text.empty?
        then content_tag(:h2, activity.text, class: "activity-breakdown-text")
        else content_tag(:h2, "~ ~ ~", class: "activity-breakdown-empty-activity")
        end %>
    <%= if activity.dance
        then 
          authorspan = content_tag(:b, (link_to activity.dance.choreographer.name, activity.dance.choreographer))
          content_tag(:p, "by: ".html_safe + authorspan)
        end %>

    <%= if activity.dance && !activity.text.empty?
        then content_tag(:p, activity.text, class: "activity-breakdown-text")
        end %>

    <%= if activity.dance then
          introduce_moves = []
          activity.dance.figures.each do |figure|
            move = figure["move"]
            unless moves_already_introduced[move]
              moves_already_introduced[move] = true
              introduce_moves.push move
            end
          end
          unless introduce_moves.empty? 
            content_tag(:p, "introduces moves: " + introduce_moves.join(', '))
          end
        end %>

    <%= render partial: 'dances/bodyshow', locals: {dance: activity.dance} if activity.dance %>
  <%= '</div>'.html_safe %>
<% end %>


