<h1>
  <%= @user.name %>
</h1>

<% if @user.admin? %>
  <h2>Administrator</h2>
<% end %>

<h2>Dances</h2>
<%= if user_signed_in? && (current_user.id == @user.id)
    then new_dance_button_html()
    else ''
    end
%>


<%= render partial: "dances/showtable", object: @dances, 
    locals: {user: false} %>


<h2>Programs</h2>
<%= if user_signed_in? && (current_user.id == @user.id)
    then new_program_button_html()
    else ''
    end
%>


<%= render partial: "programs/showtable", object: @programs, 
    locals: {user: false} %>



