<h1>
  <%= @user.name %>
</h1>

<% if @user.admin? %>
  <h2>Administrator</h2>
<% end %>

<h2>Dances</h2>
<%= if user_signed_in? && (current_user.id == @user.id)
    then new_dance_button_html()
    else ''
    end
%>


<div class='public-dances'>
  <%= render partial: "dances/showtable", object: @featured_dances, 
      locals: {user: false} %>
</div>

<% if @reclusive_dances.length.positive? %>
  <div class='sketchbook-dances'>
    <h3>Sketchbook</h3>
    <p>This is for dances that aren't ready to call. They're not discoverable from the main dance search page.</p>
    <%= render partial: "dances/showtable", object: @reclusive_dances, 
        locals: {user: false} %>
  </div>
<% end %>

<h2>Programs</h2>
<%= if user_signed_in? && (current_user.id == @user.id)
    then new_program_button_html()
    else ''
    end
%>


<%= render partial: "programs/showtable", object: @programs, 
    locals: {user: false} %>



