
<section>
  <h1 id="site-logo">ContraDB</h1>
  <div id="site-purpose">find and share contra dances</div>
  <%= new_dance_button_html %>
  <%= new_program_button_html %>
</section>

<section>
  <h2>Figures</h2>
  <%= render partial: '/figures/link_cloud' %>
</section>

<section>
  <h2>Dances</h2>

  <table id="dances-table", class="table table-bordered table-hover table-condensed", data-source="<%= dances_path(format: :json) %>">
    <thead>
      <tr>
        <th>Title</th>
        <th>Choreographer</th>
        <th>User</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<%= link_to 'About ContraDB.com', about_path %>
