
<section>
  <h1 id="site-logo">ContraDB</h1>
  <div id="site-purpose">find and share contra dances</div>
  <%= new_dance_button_html %>
  <%= new_program_button_html %>
</section>

<section>
  <h2>Figures</h2>
  <%= render partial: '/figures/link_cloud' %>
</section>

<section>
  <h2>Dances</h2>

  <div id='figure-filter-root' class='figure-filter'>
    <select class='figure-filter-op'>
      <option value="figure">figure</option> 
      <option value="and" selected>and</option> 
      <option value="or">or</option>
      <option value="follows">follows</option>
      <option value="none">none</option>
      <option value="all">all</option>
      <option value="not">not</option>
    </select>

    <div class='figure-filter'>
      <select class='figure-filter-op'>
        <option value="figure" selected>figure</option> 
        <option value="and">and</option> 
        <option value="or">or</option>
        <option value="follows">follows</option>
        <option value="none">none</option>
        <option value="all">all</option>
        <option value="not">not</option>
      </select>
      <span class='figure-filter-end-of-subfigures'></span>
      <select class='figure-move'>
        <option value="swing">swing</option> 
        <option value="chain" selected>chain</option> 
        <option value="circle">circle</option> 
        <option value="right left through">right left through</option>
      </select>
    </div>

    <span class='figure-filter-end-of-subfigures'></span>
    <button class='figure-filter-add'>Add</button>
  </div>

  <input id="query-buffer" type='text'>


  <table id="dances-table", class="table table-bordered table-hover table-condensed", data-source="<%= dances_path(format: :json) %>">
    <thead>
      <tr>
        <th>Title</th>
        <th>Choreographer</th>
        <th>User</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<%= link_to 'About ContraDB.com', about_path %>
