<p class="dance-show-formation">formation: <%= dance.start_type %> </p>

<div class="dance-show-hook"><%= ApplicationHelper::renderMarkdown(dance.preamble) %></div>

<table class="table table-bordered table-condensed contra-table-nonfluid">
  <% begin
       figures = dance.figures
       beats_acc = 0
       label_printed = false
       figures.each_with_index do |figure,index| %>
         <tr class="<%= if (beats_acc % 32) < 16 then 'a1b1' else 'a2b2' end %>">
             <td><%= unless label_printed then label_printed = true; {0=>'A1', 16=>'A2', 32=>'B1', 48=>'B2' }[beats_acc] end %></td>
             <td><%= beats = JSLibFigure.beats(figure)
                     beats_acc += beats
                     label_printed = false if beats > 0
                     render partial: "dances/figure", object: figure %></td></tr>
  <%   end
     end %>
</table>

<div class="dance-show-notes"><%= ApplicationHelper::renderMarkdown(dance.notes) %></div>
