<%= form_for(@dance) do |f| %>
  <% if @dance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dance.errors.count, "error") %> prohibited this dance from being saved:</h2>

      <ul>
      <% @dance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </h1>
  <div class="field">
    <%= f.label "by" %><br>
    <%= f.select :choreographer_id, Choreographer.all.map {|c| [c.name,c.id]} %>
  </div>
  <div class="field">
    <%= f.label :start_type %><br>
    <%= f.text_field :start_type %>
  </div>

  <% for figure_idx in (1..8) do %>
    <div class="figure_edit" id=figure_edit_<%= figure_idx %> >
      <%= figure_idx %>:
      <%= tag( :input, {value: 8, min: 0, max: 16, class: "beat_edit", type: "number"} ) %>
      <%= selects = []
          for i in 0...DancesHelper::WHO.length
            selects.push content_tag( :option, DancesHelper::WHO[i], 
                                      i.zero? ? {value: i, selected: "selected"} : {value: i})
          end
          content_tag( :select, selects.join( " " ).html_safe, {class: "who_edit"} ) 
       %>
      <%= tag( :input, {type: "checkbox", class: "balance_edit"}) %>
      <%= content_tag( :select, move_menu_options( :everybody ).html_safe, {class: "move_edit"} ) %>
      <%= content_tag( :select, options_html(DancesHelper::RotationMenuLabels).html_safe, class: "rotations_edit") %>
      <%= content_tag( :select, options_html((1..6).to_a.map{|x|"#{pluralize(x,'place')}"}).html_safe, class: "places_edit") %>
    </div>



  <% end %> 


  <div class="field">
    <%= f.label :figure1 %><br>
    <%= f.text_field :figure1 %>
  </div>
  <div class="field">
    <%= f.label :figure2 %><br>
    <%= f.text_field :figure2 %>
  </div>
  <div class="field">
    <%= f.label :figure3 %><br>
    <%= f.text_field :figure3 %>
  </div>
  <div class="field">
    <%= f.label :figure4 %><br>
    <%= f.text_field :figure4 %>
  </div>
  <div class="field">
    <%= f.label :figure5 %><br>
    <%= f.text_field :figure5 %>
  </div>
  <div class="field">
    <%= f.label :figure6 %><br>
    <%= f.text_field :figure6 %>
  </div>
  <div class="field">
    <%= f.label :figure7 %><br>
    <%= f.text_field :figure7 %>
  </div>
  <div class="field">
    <%= f.label :figure8 %><br>
    <%= f.text_field :figure8 %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
