<%= form_for(@dance) do |f| %>
  <% if @dance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dance.errors.count, "error") %> prohibited this dance from being saved:</h2>

      <ul>
      <% @dance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_type %><br>
    <%= f.text_field :start_type %>
  </div>
  <div class="field">
    <%= f.label :figure1 %><br>
    <%= f.text_field :figure1 %>
  </div>
  <div class="field">
    <%= f.label :figure2 %><br>
    <%= f.text_field :figure2 %>
  </div>
  <div class="field">
    <%= f.label :figure3 %><br>
    <%= f.text_field :figure3 %>
  </div>
  <div class="field">
    <%= f.label :figure4 %><br>
    <%= f.text_field :figure4 %>
  </div>
  <div class="field">
    <%= f.label :figure5 %><br>
    <%= f.text_field :figure5 %>
  </div>
  <div class="field">
    <%= f.label :figure6 %><br>
    <%= f.text_field :figure6 %>
  </div>
  <div class="field">
    <%= f.label :figure7 %><br>
    <%= f.text_field :figure7 %>
  </div>
  <div class="field">
    <%= f.label :figure8 %><br>
    <%= f.text_field :figure8 %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
