

<% debug_figure_json = false %>

<div class="container"  ng-app="contra">
  <%= form_for(@dance) do |f| %>
    <% if @dance.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@dance.errors.count, "error") %> prohibited this dance from being saved:</h2>
        <ul>
          <% @dance.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% copy_dance = params[:copy_dance_id] && Dance.find(params[:copy_dance_id]) %>

    <% if copy_dance %>
      <div class="row">
        <div class="col-xs-12">Composing a variation of <strong><%= copy_dance.title %></strong></div>
      </div>
    <% end %>

    <div class="dance-header-editors">
      <div class="row field">
        <%= f.text_field :title, {class: "dance-title-edit col-xs-12",
            value: (copy_dance ? "#{copy_dance.title} variation" : 
                    (@dance.title.blank? ? "Untitled" : @dance.title))} %>
      </div>
      <div class="row field">
        <%= f.text_field :choreographer_name,
            {class: "col-xs-12 col-sm-6", id: "choreographer-autocomplete", placeholder: "Choreographer"}.
            merge(copy_dance ? {value: copy_dance.choreographer.name} : {}) %>
        <%= f.text_field :start_type,
            {class: "col-xs-12 col-sm-6", id: "start-type-autocomplete", placeholder: "Formation"}
            .merge(copy_dance ? {value: copy_dance.start_type} : {}) %>
        <script>
          var __choreographers__secret = <%= a_to_safe_str(Choreographer.all.map &:name) %>
        </script>
      </div>
    </div>


    <%# ============================ figure editors ==================== %>

    <div ng-controller="FiguresController as figures" class="row" id="figures">
      <div class="display:none"
           ng-init="figures.arr=defaultFigures(<%= copy_dance ? copy_dance.figures_json : @dance.figures_json %>)">
      </div>
      <div class="col-xs-12 col-md-6"> <%# list figures %>
        <div ng-repeat="figure in figures.arr">
          <div ng-class="styleForBeats(sumBeats(figures.arr,$index))">
            <a ng-click="(edit_index_box[0] == $index) ? edit_index_box.length = 0 : edit_index_box[0] = $index; "
               href="" class="figure-view">
              {{figure_html_readonly(figures.arr[$index])}}
            </a>
          </div>
          <div ng-if="edit_index_box.indexOf($index) >= 0"> <%# edit figure %>
            <label class="figure-edit-label"><span class="figure-edit-label-text">move</span>
              <div class='figure-value-setter-div'>
                <select ng-model="figure.move"
                        ng-options="m for m in moves()"
                        ng-change="user_changed_move(figure)"
                        class='form-control'>
                </select>
              </div>
            </label>
            <div ng-repeat="p in parameters(figure.move)">
              <label class="figure-edit-label" ng-init="set_if_unset(figure.parameter_values, $index, p.value)">
                <span class="figure-edit-label-text">{{parameter_label(figure.move, $index)}}</span>
                <div class='figure-value-setter-div'>
                  <%= render 'chooser' %>
                </div>
              </label>
            </div>
            <div>
              <label class="figure-edit-label"><span class='figure-edit-label-text'>note</span>
                <div class='figure-value-setter-div'>
                  <input type='text' ng-model='figure.note' class='form-control'/>
              </div></label>
            </div>
          </div>
        </div>
      </div><%# list figures %>
      <div class="col-xs-12">
        <hr />
        <%# Add/delete/rotate figure buttons %>
        <div class="row actions">
          <%= f.label :figures, class: "col-lg-1 col-md-2 col-xs-3" %>
          <div class="col-lg-11 col-md-10 col-xs-9">
            <div class="btn-group btn-group-justified btn-group-lg" role="group">
              <div class="btn-group">
                <button name="button" type="button" ng-click='addFigure()' class="btn btn-default"
                        title="add a new figure at the end of the list" 
                        aria-label="add a new figure at the end of the list">
                  <%= plus_icon_html() %> Add Figure</button>
              </div>
              <div class="btn-group">
                <button name="button" type="button" ng-click='deleteFigure()' 
                        ng-show="figures.arr.length > 0" class="btn btn-default"
                        title="delete the last figure" 
                        aria-label="delete the last figure">
                  <%= x_icon_html() %> Remove Figure</button>
              </div>
              <div class="btn-group">
                <button name="button" type="button" ng-click='rotateFigures()' 
                        ng-show="figures.arr.length >= 2" class="btn btn-default"
                        title="rotate figures, putting the last one first and bumping the rest down" 
                        aria-label="rotate figures, putting the last one first and bumping the rest down">
                  <%= rotate_icon_html() %> Rotate Figures</button>
              </div>
            </div>
          </div>
        </div>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <%# drill in to debug with
            angular.element(document.getElementById('figures')).scope().figures.arr
            or
            angular.element(document.getElementById('figures')).scope().figures.arr[4].parameter_values %>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    

        <!-- debugger -->
        <% if debug_figure_json then  %>
          <div><strong style="color: red">debug_figure_json = true </strong></div>
          <div>edit_index_box == {{edit_index_box}}</div>
          <div class="row" ng-repeat="figure in figures.arr">
            <div class="col-lg-1 col-md-2 col-xs-3" style="text-align: center">{{$index}}</div>
            <div class="col-lg-11 col-md-10 col-xs-9">{{figure}}</div>
          </div>
        <% end %> 


 
        <!-- hidden IO field for communicating with Rails -->

        <div class="row field" <%= debug_figure_json ?  '' : 'hidden=hidden' %> >
          <%= f.label :figures_json, class: "col-lg-1 col-md-2 col-xs-3"%>
          <div class="col-lg-11 col-md-10 col-xs-9">{{toJson(figures.arr)}}</div>
        </div>
        <%= f.text_field :figures_json, name: "dance[figures_json]", id: "dance-figures-json", hidden: true %>

      </div> <!-- figures controller -->
    </div>







    <%# ============================ end figure editors ================ %>





    <br />
    <div class="row field">
      <%= f.label :notes, class: "col-lg-1 col-md-2 col-xs-3"%>

      <%= begin
          h = {class: 'per_dance_notes_edit col-lg-11 col-md-10 col-xs-9 form-control'};
          if copy_dance then
          h[:value] = copy_dance.notes
          end
          f.text_area :notes, h
          end  %>
    </div>
    <br>

    <div class="row actions">
      <div class="col-lg-1 col-md-2 col-xs-3"></div>
      <%= save_submit_button_html "Save Dance", {class: "update-dance col-lg-3 col-md-10 col-xs-9"} %>
    </div>

    <div class="row actions">
      <div class="col-lg-1 col-md-2 col-xs-3" style="font-weight: bold">Instructions</div>
      <div class="col-lg-11 col-md-10 col-xs-9">
        <p>There's a lot of ink spilled over "gentlemen" versus "men"
          versus "leads". The ContraDB approach is to annoy everyone by
          using "gentlespoons", as in "ladles and gentlespoons". Then in a
          future software update we will let users specify their own
          alternatives, so you can just see everyone's dances written with
          "men" or whatever your preference is.
        </p>
        <p>You may
          use <a href="https://guides.github.com/features/mastering-markdown/">Markdown</a>
          in your notes to hyperlink to sources and create <i>*formatting*</i>.
        </p> 
      </div>
    </div>
  <% end %>
</div>
