<% 
title         = local_assigns.fetch(:title,true) 
stompiness    = local_assigns.fetch(:stompiness,true) 
choreographer = local_assigns.fetch(:choreographer,true) 
user          = local_assigns.fetch(:user,true) 
start_type    = local_assigns.fetch(:start_type,true) 
figures       = local_assigns.fetch(:figures,false) 
notes         = local_assigns.fetch(:notes,false) 

max_number_of_figures_to_display = 8

dances = showtable


%>



<% if dances.length < 1 then %>
<p>zero dances</p>
<% else %>
<table class="table table-striped table-bordered table-hover table-condensed contra-table-nonfluid">
  <thead>
    <tr>
      <th colspan="3">Actions</th>
      <% if title then %>         <th>Title</th>         <% end %>
      <% if stompiness then %>    <th>Stompiness</th>    <% end %>
      <% if choreographer then %> <th>Choreographer</th> <% end %>
      <% if user then %>          <th>User</th>          <% end %>
      <% if start_type then %>    <th>Formation</th>    <% end %>
      <% if figures then 
           (1..max_number_of_figures_to_display).each {|i| %>
             <th><%= i %></th>
          <% 
            }
          end%>
      
      <% if notes then %>         <th>Notes</th>         <% end %>
    </tr>
  </thead>

  <tbody>
    <% dances.each do |dance| %>
      <tr>

        <td><%= link_to copy_icon_html, new_dance_path({copy_dance_id: dance.id}) %></td>               
        <td><%= if (signed_in? && (current_user.admin? || (current_user.id == dance.user_id)))
                then link_to(edit_icon_html, edit_dance_path(dance))
                else "" 
                end
                %></td>               
        <td><%= if (signed_in? && (current_user.admin? || (current_user.id == dance.user_id)))
                then link_to(delete_icon_html, dance, method: :delete, data: { confirm: "Delete '#{dance.title}?'" })
                else ""
                end %></td>


        <% if title then %>         
          <td><strong><%= link_to dance.title, dance %></strong></td><% end %>
        <% if stompiness then %>         
          <td align='right'><strong><%= dance.stompiness_str %></strong></td><% end %>
        <% if choreographer then %> 
          <td><%= if dance && dance.choreographer then 
                    link_to dance.choreographer.name, dance.choreographer
                  else
                    '<em>nil</em>'.html_safe # this should-not/has-never happened
                  end %> 
          </td><% end %>
        <% if user then %>
          <td><%= link_to dance.user.name, dance.user %></td>         <% end %>
        <% if start_type then %>    <td><%= dance.start_type %></td>         <% end %>
        <% if figures then
           fs = dance.figures
           fs.first(max_number_of_figures_to_display).each do |f| %>       
           <td><%= render partial: "dances/figure", object: f %></td>
        <%   end
           end %>                              
        <% if notes then %>           <td><%= dance.notes %></td>            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
