<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dance.title %>
</p>

<p>
  <strong>Start type:</strong>
  <%= @dance.start_type %>
</p>

<p>
  <strong>Figure1:</strong>
  <%= @dance.figure1 %>
</p>

<p>
  <strong>Figure2:</strong>
  <%= @dance.figure2 %>
</p>

<p>
  <strong>Figure3:</strong>
  <%= @dance.figure3 %>
</p>

<p>
  <strong>Figure4:</strong>
  <%= @dance.figure4 %>
</p>

<p>
  <strong>Figure5:</strong>
  <%= @dance.figure5 %>
</p>

<p>
  <strong>Figure6:</strong>
  <%= @dance.figure6 %>
</p>

<p>
  <strong>Figure7:</strong>
  <%= @dance.figure7 %>
</p>

<p>
  <strong>Figure8:</strong>
  <%= @dance.figure8 %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dance.notes %>
</p>

<%= link_to 'Edit', edit_dance_path(@dance) %> |
<%= link_to 'Back', dances_path %>
