<p id="notice"><%= notice %></p>

<p>
  <span>User:</span>
  <%= link_to @dance.user.email, @dance.user %>
</p>

<p>
  <h1>
  <%= @dance.title %></h1>
</p>

<p>
  by <strong> <%= link_to @dance.choreographer.name, @dance.choreographer %></strong>
</p>

<p>[Edit button] | [Copy button]</p>

<p>
  <span>Start type:</span>
  <%= @dance.start_type %>
</p>

<% (1..8).each do |i| %>
  <p><strong><%= i %></strong>:<%= render partial: "figure", object: @dance["figure"+i.to_s] %></p>
<% end %>


<% if @dance.notes.strip.length > 0 %>
<p>
  <span>Notes:</span>
  <%= @dance.notes %>
</p>
<% end %>


