<p id="notice"><%= notice %></p>

<p>
  <span>User:</span>
  <%= link_to @dance.user.email, @dance.user %>
</p>

<p>
  <h1>
  <%= @dance.title %></h1>
</p>

<p>
  by <strong> <%= link_to @dance.choreographer.name, @dance.choreographer %></strong>
</p>

<p>
  <span>Start type:</span>
  <%= @dance.start_type %>
</p>




<% (1..8).each do |i| %>
  <p><strong><%= i %></strong>:<%= render partial: "figure", object: @dance["figure"+i.to_s] %></p>
<% end %>

<p>
  <span>Figure1:</span>
  <%= render partial: "figure", object: @dance.figure1 %>
</p>

<p>
  <span>Figure2:</span>
  <%= @dance.figure2 %>
</p>

<p>
  <span>Figure3:</span>
  <%= @dance.figure3 %>
</p>

<p>
  <span>Figure4:</span>
  <%= @dance.figure4 %>
</p>

<p>
  <span>Figure5:</span>
  <%= @dance.figure5 %>
</p>

<p>
  <span>Figure6:</span>
  <%= @dance.figure6 %>
</p>

<p>
  <span>Figure7:</span>
  <%= @dance.figure7 %>
</p>

<p>
  <span>Figure8:</span>
  <%= @dance.figure8 %>
</p>

<p>
  <span>Notes:</span>
  <%= @dance.notes %>
</p>

<%= link_to 'Edit', edit_dance_path(@dance) %> |
<%= link_to 'Back', dances_path %>
