<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <h1 class="dance-show-title"><%= @dance.title %></h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-8 col-print-12'>
      <% if @dance.hook.present? %>
        <p class="dance-show-hook">hook: <%= JSLibFigure.lingo_lines_html(JSLibFigure.string_in_dialect(@dance.hook, @dialect), @dialect) %></h2>
      <% end %>
      <p class="dance-show-choreographer">by: <strong><%= link_to @dance.choreographer.name, @dance.choreographer %></strong></p>
      <%= render partial: 'bodyshow', locals: {dance: @dance, dialect: @dialect} %>

    </div>
    <div class='col-sm-4 hidden-print'>
      <div class='panel panel-default'>
        <div class="panel-heading">
          <h2 class='panel-title'>Database</h2>
        </div>
        <div class='panel-body'>
          <p class="dance-show-user">user: <%= link_to @dance.user.name, @dance.user %></p>
          <p class="dance-show-publish">
            <%= dance_publish_string(@dance.publish) %>
          </p>
          <div class="btn-group">
            <%= copy_dance_button_html(@dance, label: "Copy") %>
            <% if (signed_in? && (current_user.admin? || (current_user.id == @dance.user_id))) %>
              <%= edit_dance_button_html(@dance, label: "Edit") %>
              <%= delete_dance_button_html(@dance, label: "Delete") %>
            <% end %>
          </div>
          <% if @show_moderation %>
            <p class="dance-show-moderation">
              Moderation: <%= admin_moderation_display(@dance.user) %>
            </p>
          <% end %>
        </div>
        <div class="panel-heading panel-heading-mid-panel-hack">
          <h3 class='panel-title'>Feedback</h3>
        </div>
        <div class='panel-body'>
          <%= render partial: "dut", collection: @tags, as: :_tag, locals: {dance: @dance, user: current_user} %>
          <% if @dance.publish_all? && @dance.user_id != current_user&.id %>
            <hr class='panel-hr-contra'>
            please report problems to
            <%= mail_to(EmailVault.get(:data_maven, :email),
                        EmailVault.get(:data_maven, :email),
                        encode: 'hex',
                        subject: "contradb dance problem",
                        body: "Dear #{EmailVault.get(:data_maven, :name)}, I see a problem with '#{@dance.title}' (#{dance_url(@dance)}) transcribed by #{@dance.user.name}. The problem is ") %>.
          <% end %>
        </div>
        <div class="panel-heading panel-heading-mid-panel-hack">
          <h3 class='panel-title'>Validation</h3>
        </div>
        <div class='panel-body'>
          <%= render 'validation_toggle' %>
        </div>
      </div>
    </div>
  </div>
</div>


<br />
<br />
<br />
