<p>
  <span>User:</span>
  <%= link_to @dance.user.name, @dance.user %>
</p>

<p>
  <h1>
  <%= @dance.title %></h1>
</p>

<p>
  by <strong> <%= link_to @dance.choreographer.name, @dance.choreographer %></strong>
</p>



<div class="btn-group">
<%= copy_dance_button_html(@dance, label: "Copy") %>
<%= if (signed_in? && (current_user.id == @dance.user_id)) then
    edit_dance_button_html(@dance, label: "Edit") +
    delete_dance_button_html(@dance, label: "Delete")
    end %>
</div>

<p>
  <span>Formation:</span>
  <%= @dance.start_type %>
</p>

<% (1..8).each do |i| %>
  <p><strong><%= i %></strong>:<%= render partial: "figure", object: @dance["figure"+i.to_s] %></p>
<% end %>


<% if @dance.notes.strip.length > 0 %>
<p>
  <span>Notes:</span>
  <%= @dance.notes %>
</p>
<% end %>


