<h1>My Dialect</h1>

<div class='role-setter'>
  <div class='btn-toolbar'>
    <% [{label: 'ladies & gents', params: {gentlespoon: 'gent', gentlespoons: 'gents', ladle: 'lady', ladles: 'ladies'}, class: 'gents-ladies'},
        {label: 'larks & ravens', params: {gentlespoon: 'lark', gentlespoons: 'larks', ladle: 'raven', ladles: 'ravens'}, class: 'larks-ravens'},
        {label: 'leads & follows', params: {gentlespoon: 'lead', gentlespoons: 'leads', ladle: 'follow', ladles: 'follows'}, class: 'leads-follows'}
       ].each do |h| %>
      <%= button_to(h[:label],
                    roles_dialect_path,
                    remote: true,
                    class: 'btn btn-md btn-default',
                    form_class: "one-click-role-form #{h[:class]}",
                    params: h[:params].merge(lit: false)) %>
    <% end %>
  </div>
</div>

<div id='idioms-init' style='display: none'>
  <%= @idioms.to_json %>
</div>

<div class='idioms-list'>
  <%# js-created idiom html goes here %>
</div>

<div class='form-inline'>
  <select class="new-dancers-idiom form-control">
    <option value="">Choose dancers...</option>
  </select>
</div>

<div class='form-inline'>
  <select class="new-move-idiom form-control">
    <option value="">Choose move...</option>
  </select>
</div>

<div style='margin-top: 100px'>
  <%= button_to(restore_defaults_dialect_path,
                remote: true,
                class: 'btn btn-md btn-danger',
                form_class: 'restore-default-dialect-form',
                data: { confirm: "You will delete your entire dialect, seeing dance terms in their unvarnished, spoon-themed glory. Are you sure?" }
               ) do %>
    <%= content_tag(:span, delete_icon_html + ' Restore Default Dialect') %>
  <% end %>
</div>

<div style='display: block' id='authenticity-token-incubator'>
     <%= form_with(model: Idiom::Idiom.new, url: idioms_path) do |f| %>
          <%= f.label(:substitution) %><br>
          <%= f.text_field(:term, class: 'modal-term form-control') %>
          <%= f.text_field(:substitution, class: 'modal-substitution form-control') %>
          <%= f.submit('Save', class: 'btn btn-success') %>
     <% end %>
</div>
