<div class=container>
  <section>
    <h2>Roles</h2>

    <div class='role-setter'>
        <% [{label: 'ladies & gents', params: {gentlespoon: 'gent', gentlespoons: 'gents', ladle: 'lady', ladles: 'ladies'}, class: 'gents-ladies'},
            {label: 'larks & ravens', params: {gentlespoon: 'lark', gentlespoons: 'larks', ladle: 'raven', ladles: 'ravens'}, class: 'larks-ravens'},
            {label: 'leads & follows', params: {gentlespoon: 'lead', gentlespoons: 'leads', ladle: 'follow', ladles: 'follows'}, class: 'leads-follows'}
           ].each do |h| %>
          <%= button_to(h[:label],
                        roles_dialect_path,
                        remote: true,
                        class: 'btn btn-default',
                        form_class: "dialect-express-role-form #{h[:class]}",
                        params: h[:params].merge(button_lite: false)) %>
        <% end %>
    </div>
  </section>

  <section>
    <h2>Face to Face Turn for Two</h2>

    <p>currently using: <span class='gyre-substitution-view'>gyre</span></p>

    <%= button_tag('substitute...', class: 'btn btn-default', 'data-toggle': 'modal', 'data-target': '#gyre-modal') %>
  </section>

  <section>
    <h2>Advanced</h2>

    <%= button_tag('show...', class: 'btn btn-default toggle-advanced-content-button') %>

    <div class=advanced-content style='display: none'>

      <div class='form-inline'>
        <select class="new-dancers-idiom form-control">
          <option value="">Choose dancers...</option>
        </select>
      </div>

      <div class='form-inline'>
        <select class="new-move-idiom form-control">
          <option value="">Choose move...</option>
        </select>
      </div>

      <div id='idioms-init' style='display: none'>
        <%= @idioms.to_json %>
      </div>

      <table class='idioms-list'>
        <%# js-created idiom html goes here %>
      </table>

    </div>
  <section>

  <div style='margin-top: 100px'>
    <%= button_to(restore_defaults_dialect_path,
                  remote: true,
                  class: 'btn btn-md btn-danger',
                  form_class: 'restore-default-dialect-form',
                  data: { confirm: "You will delete your entire dialect, seeing dance terms in their unvarnished, spoon-themed glory. Are you sure?" }
                 ) do %>
      <%= content_tag(:span, delete_icon_html + ' Restore Default Dialect') %>
    <% end %>
  </div>
</div>

<div style='display: none' id='authenticity-token-incubator'>
  <%= form_with(model: Idiom::Idiom.new, url: idioms_path) do |f| %>
    <%= f.label(:substitution) %><br>
    <%= f.text_field(:term, class: 'form-control') %>
    <%= f.text_field(:substitution) %>
    <%= f.submit('Save', class: 'btn btn-success') %>
  <% end %>
</div>

<div class="modal fade" id="gyre-modal" tabindex="-1" role="dialog" aria-labelledby="new-idiom-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%# for reasons I don't understand, this form isn't ajax-submitting properly, so I set data-remote=true in js-land -dm 03-18-2018 %>
      <%= form_with(url: gyre_dialect_path, id: 'gyre-modal-form', remote: true) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="new-idiom-label">Substitute for ‘<span class='gyre-substitution-view'>gyre</span>’</h4>
        </div>
        <div class="modal-body">
          <%= f.label(:substitution) %><br>
          <%= f.hidden_field(:term, class: 'modal-term', value: 'gyre') %>
          <%= f.text_field(:substitution, class: 'form-control', id: 'gyre-dialog-substitution') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit('Save', class: 'btn btn-success') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
