<%= form_for(@choreographer) do |f| %>
  <% if @choreographer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@choreographer.errors.count, "error") %> prohibited this choreographer from being saved:</h2>

      <ul>
      <% @choreographer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="choreographer-form-fields-deluxe">
    <div class="field form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :publish %><br>
      <%= f.select(:publish,
                   [["Unknown", nil]].concat(Choreographer.publishes.keys.map {|key| [key.humanize, key]}),
                   {},
                   class: 'form-control') %>
    </div>
    <div class="field form-group">
      <%= f.label :website %><br>
      <%= f.text_field :website, class: 'form-control' %>
    </div>
    <div class="actions">
    <%= save_submit_button_html "Save Choreographer" %>
    </div>
  </div>
<% end %>
