<p id="notice"><%= notice %></p>

<h1>Listing Choreographers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @choreographers.each do |choreographer| %>
      <tr>
        <td><%= choreographer.name %></td>
        <td><%= link_to 'Show', choreographer %></td>
        <td><%= link_to 'Edit', edit_choreographer_path(choreographer) %></td>
        <td><%= link_to 'Destroy', choreographer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choreographer', new_choreographer_path %>
