<p><%= @show_admin_actions ? "You may modify existing choreographers." : "" %></p>

<h1>Choreographers</h1>

<% if @show_admin_actions then %>
  <%= new_choreographer_button_html() %>
<% end %>

<table class="table table-striped table-bordered table-hover table-condensed contra-table-nonfluid">
  <thead>
    <tr>
      <% if @show_admin_actions then %>
      <th colspan=2>Actions</th>
      <% end %>
      <th>Name</th>
      <th>Dance Count</th>
      <th>Publish?</th>
      <th>Website</th>
    </tr>
  </thead>

  <tbody>
    <% @choreographers.each do |choreographer| %>
      <tr>
        <% if @show_admin_actions %>
          <% if 1==choreographer.id %>
            <td></td>
            <td></td>
          <% else %>
            <td><%= link_to edit_icon_html, edit_choreographer_path(choreographer) %></td>
            <td><%= link_to delete_icon_html, choreographer, method: :delete, 
                            data: { confirm: "Delete Choreographer #{choreographer.name}?\n\n All their dances will become choreographed by 'unknown'." } %></td>
          <% end %>
        <% end %>
        <td><%= link_to choreographer.name, choreographer %></td>
        <td class="text-right"><%= choreographer.dances.searchable_by(@user).length %></td>
        <td><%= choreographer.publish&.titleize %></td>
        <td><%= choreographer.website && link_to(choreographer.website_label, choreographer.website_url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


