<!DOCTYPE html>
<html>
<head>
  <title>Contra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ContraDB</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
	      <% if user_signed_in? %>
              <li><%= link_to 'Profile', current_user %></li>
	      <% end %>
              <li><%= link_to 'Dances', dances_path %></li>
              <li><%= link_to 'Choreographers', choreographers_path %></li>
              <li><%= link_to 'Users', users_path %></li>
	      <!-- link to browse users would be nice too -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
	      <% if user_signed_in? %>


		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %>
<span class="caret"></span></a>
		  <ul class="dropdown-menu">
                <li><%= link_to "settings", edit_user_registration_path, :class => 'navbar-link' %>

		</li>
		<li><%= link_to "logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		</li>
		    <!-- <li role="separator" class="divider"></li> -->
		  </ul>
                </li>







	      <% else %>
		<li><%= link_to "sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
		<li><%= link_to "login", new_user_session_path, :class => 'navbar-link'  %></li>
	      <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="container-fluid">


<%= yield %>


</div>

</body>
</html>
